In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
data_dir = "./data"

data_filepath = os.path.join(data_dir, "vgsales.csv")

df = pd.read_csv(data_filepath)

df_clean = df.copy()

> Issues
> * Year should be of integer type but not float
> * Missing values in year and publisher
> * Some rows are duplicated

In [3]:
indices_to_remove = df_clean[df_clean['Year'].isnull()].index

df_clean.drop(indices_to_remove, inplace=True)

In [4]:
indices_to_remove = df_clean[df_clean['Publisher'].isnull()].index

df_clean.drop(indices_to_remove, inplace=True)

In [5]:
indices_to_remove = df_clean[df_clean.duplicated(['Name', 'Year', 'Platform', 'Publisher', 'Genre'])].index

df_clean.drop(indices_to_remove, inplace=True)

In [6]:
df_clean.shape

(16290, 11)

> Finalize

In [7]:
df_clean.sort_values(by=['Global_Sales'], ignore_index=True, ascending=False, inplace=True)

df_clean['Rank'] = df_clean.index + 1

In [8]:
df_clean['Year'] = pd.to_numeric(df_clean['Year'], downcast='integer').astype(str)

In [9]:
df_clean

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16285,16286,Sakura-Sou no Pet na Kanojo,PSP,2013,Adventure,Kadokawa Games,0.00,0.00,0.01,0.00,0.01
16286,16287,Fatal Fury: Battle Archives Volume 2 (JP sales),PS2,2007,Fighting,SNK Playmore,0.00,0.00,0.01,0.00,0.01
16287,16288,Tantei Jinguuji Saburo: Hai to Diamond,PSP,2009,Adventure,Arc System Works,0.00,0.00,0.01,0.00,0.01
16288,16289,BattleForge,PC,2009,Strategy,Electronic Arts,0.00,0.01,0.00,0.00,0.01
16289,16290,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [10]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16290 entries, 0 to 16289
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16290 non-null  int64
 1   Name          16290 non-null  object
 2   Platform      16290 non-null  object
 3   Year          16290 non-null  object
 4   Genre         16290 non-null  object
 5   Publisher     16290 non-null  object
 6   NA_Sales      16290 non-null  float64
 7   EU_Sales      16290 non-null  float64
 8   JP_Sales      16290 non-null  float64
 9   Other_Sales   16290 non-null  float64
 10  Global_Sales  16290 non-null  float64
dtypes: float64(5), int64(1), object(5)
memory usage: 1.4+ MB

In [11]:
"None" in df_clean.values

False

In [ ]:
data_output_filepath = os.path.join(data_dir, "vgsales_clean.csv")

df_clean.to_csv(data_output_filepath, index=False)